/*.home{
    overflow: hidden;
    background-color: #fff;
    border-top: 10px #D03E35 solid;
    color: gray;
    box-shadow: 0.5px 0.5px 4px #888888;
    padding: 10px;
    padding-bottom: 5px;
}*/

/*.form-group{
    max-width: 350px;
}*/

h3{
    font-family: fantasy;
    color: #FFC801;
}

button{
    font-family: fantasy;
}



/*.form-control{
    max-width: 350px;
}*/